.header>.icon {
    font-size: 2em ;
}

img {
    max-width: 200px;
}

.ui.label {
    float:right;
    line-height: 2.25;
}

.ui.label > .detail.attached {
    margin-left: 0;
}

.content {
    margin-top:10px;
}


button a {
    color: #ffffff;
}

button a:hover {
    color: #ffffff;
}

button a:active {
    color: #ffffff;
}

.footer {
    margin-top:20px;
    font-size: .75em;
    color:#7f7f7f;
}

.item.bordered {
    padding: 1em 1em;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

form {
    margin: inherit;
}